.cell {
  display: flex;
  align-items: center;
}

.trackInfoWrapper {
  margin-left: 10px;
}

.artist {
  font-family: 'Play', sans-serif !important;
}

.track {
  font-family: 'Play', sans-serif !important;
}

.manageButtons {
  position: absolute;
  right: 0;
}
