.playerContainer {
  border-width: 1px;
  border-color: rgba(0, 0, 0, 0.1);
  border-style: solid;
  border-radius: 5px;
  box-shadow: 3px 3px 5px -2px rgba(0, 0, 0, 0.49);
  background-color: white;
}

.wrapper {
  margin: 10px;
  display: flex;
  flex-direction: column;
}

.progressWrapper {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-color: lightgray;
  border-radius: 2px;
  cursor: pointer;
}

.progress {
  margin-bottom: 0 !important;
  appearance: none;
  height: 5px;
  border-radius: 2px;
  width: 100%;
  background-color: #2185d0;
}

.buttonsWrapper {
  align-items: center;
  display: flex;
  justify-content: space-between;
  margin-top: 10px;
}

.timings {
  margin-top: 0 !important;
  font-family: 'Play', sans-serif !important;
}

.trackName {
  font-family: 'Play', sans-serif !important;
}

.artist {
  color: black;
}
